@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


.brand-logo{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
}


.my-card{
    margin-top: 40px;
}

.auth-card{
    padding: 20px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.input-field:focus {
    border-bottom: 1px solid blue !important;
}
.row{
    table-layout: auto;
}

.profile-image{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border: 2px solid black;
    padding: 15px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items{
    width: 30%;
    height: 30%;
}

.profile-parent-div{
    max-width: 550px;
    margin: 0px auto;
}


/* Home CSS */

.home-card{
    max-width: 550px;
    height: max-content;
    margin: 25px auto;
}

.parent-create-post{
    max-width: 500px;
    margin: 20px auto;
    padding: 50px;
    text-align: center;
}

